.picker {
    height: 288px;
    background-color: bisque;
  }
  
  .input-area {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 48px 1fr 48px;
    background-color: #27282d;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
  
    button {
      all: unset;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
    }
  
    textarea {
      all: unset;
      margin: 8px 0;
      color: #f3f3f3;
    }
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    li {
      padding: 12px;
      background-color: #27282d;
      border-radius: 4px;
    }
  }
  