<ion-app>
  <ion-content [fullscreen]="true" class="ion-padding">
    <ul>
      <li *ngFor="let msg of messages">{{ msg }}</li>
    </ul>
  </ion-content>

  <ion-footer class="ion-padding">
    <div class="input-area">
      <button (click)="togglePicker()">
        <ion-icon src="/assets/picker.svg" size="small"></ion-icon>
      </button>

      <textarea
        name="message"
        rows="1"
        #messageInput
        [(ngModel)]="message"
        label="Default input"
        (keydown.enter)="keyDownEnter($event)"
      ></textarea>

      <button type="submit" (click)="sendMessage()">
        <ion-icon src="/assets/send.svg" size="small"></ion-icon>
      </button>
    </div>

    <div *ngIf="showPicker" class="picker"></div>
  </ion-footer>
</ion-app>
